services:
  ros2:
    build: .
    container_name: ros2_web_dev
    restart: unless-stopped
    tty: true
    stdin_open: true

    ports:
      - "8081:8081"  # noVNC
      - "8082:8082"  # code-server

    volumes:
      - ./src:/home/aicrobo/ros2_ws/src
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

    devices:
      - /dev/video0:/dev/video0

    privileged: true
    shm_size: '2gb'